# Backend — copiar a .env y completar
PORT=3001
NODE_ENV=development

# AWS
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=your_key_here
AWS_SECRET_ACCESS_KEY=your_secret_here

# DynamoDB
DYNAMODB_TABLE_GAMES=chess-games
DYNAMODB_TABLE_PLAYERS=chess-players

# CORS
FRONTEND_URL=http://localhost:5173
